<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600006145581-16blfnj850l6qme2i63ok41aumrsn4h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600006145581-16blfnj850l6qme2i63ok41aumrsn4h0</string>
	<key>API_KEY</key>
	<string>AIzaSyBfRCWZGVUDPUtHzhHCynuHVPxMTctQcS0</string>
	<key>GCM_SENDER_ID</key>
	<string>600006145581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newchatappwithfirebase</string>
	<key>PROJECT_ID</key>
	<string>newchatapp-43277</string>
	<key>STORAGE_BUCKET</key>
	<string>newchatapp-43277.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600006145581:ios:bb475a99cec6dcf8496aa4</string>
</dict>
</plist>